.todo_order, .todo_value, .todo_submit {
  margin-right: 1em;
}

.todo_submit {
  background-color: red;
  padding: 6px 12px;
  border-radius: 6px;
  border-width: 1px;
  border-color: blue;
}

.todo_item_checked {
  width:20px;
  height:20px;
  margin-right: 6px;
}

.todo_item_done {
  background-color: green;
}

.todo_item_order {
  margin-right: 6px;
  font-weight: bold;
}

.todo_item_order::after {
  content: ".";
}

.todo_item_value {
  flex-grow: 1;
}

.todo_item, .add_todo {
  display: flex;
  width: 500px;
  margin-bottom: 8px;
  background-color: lightgray;
  border-radius: 6px;
  padding: 4px;
}

.todo_item_finished {
  text-decoration: line-through;
  color: darkgrey;
}

.add_item_order {
  width: 100px;
}

.add_item_value {
  flex-grow: 1;
}

body {
  margin-left: 16px;
}
.app h1 {
  margin-left: 16px;
}